@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&display=swap');

:root {
    --color-base: #F0F1F2;
    --color-brand:#224459;
    --font-base: "Bai Jamjuree";
}

body {
    background-color: var(--color-base);
    font-family: var(--font-base) sans-serif;
}


header {
    background-color: var(--color-base);
    border-bottom: #2244597a 1px solid;
}

.navbar-brand {
    color: #224459;
    text-decoration: none;
}


h2, h3, h4, h5 {
    color: var(--color-brand);
}

a {
    color: var(--color-brand);
    transition: all 0.4s ease;
}

.flex {
    display: flex;
    
}


img {
    height: 250px;
    width:250px;
    border-radius: 5px;
    margin-top: 13px;
    
}

.bg-base {
    background-color: #2244591c;
    border-radius: 20px;
}

.card-custom .card-custom-image {
    overflow: hidden;
}

.card-custom .card-custom-image img {
    transition: all 0.4s ease;
}

.card-custom:hover .card-custom-image img {
    transform: scale(1.1);
}


@media (min-width: 992px) {
    .resp {
        width: 40vw;
        margin-top: 30px;  
    }

    .resp2 {
        width: 50vw;
        margin-top: 10px;  
    }

    .collapse {
        display: flex;
        justify-content: end;
    }


}


/* Ocultando elementos em telas menores */
@media (max-width: 600px) {
    .courses {
        display: none;
    }
  }
  
  /* Alinhando elementos horizontalmente em telas menores */
@media (max-width: 600px) {
section {
    flex-wrap: wrap;
    justify-content: center;
}
.col-sm-4{
    width: 100%;
    margin-bottom: 20px;
}
}


  
.link-custom {
    font-weight: 600;
    position: relative;
    text-decoration: none;
}

.link-custom::after {
    content: "";
    width: 0%;
    height: 2px;
    background-color: var(--color-brand);
    position: absolute;
    left: 0;
    top: 110%;
    transition: all 0.4s;
}

.link-custom:hover::after {
    width: 100%;
}  
/* SOCIAL ICONS */

.social-icons {
    width: 30px;
    height: 30px;
    margin-bottom: 30px;
}